<form action="/payment/results">
    <label for="apr">APR</label>
    <input id="apr"  placeholder="E.g. 5.42" name="apr">
  <br>

    <label for="tiger">
      Number of years
    </label>
    <input id="tiger" type="text" placeholder="How many years to repay" name="years_pay">

  <br>
  <label for="principal">
    Principal
  </label>
  <input id="principal" type="text" placeholder="How much principal" name="principal">
  <br>

  <button>
  Calculate monthly payment
  </button> 
</form>

<%# if @result %>
  <%#= @result %>
<%# end %>

<a href="/calculation_templates/payment_results">
