<form action="/payment/results">
  <label for="puma">
    APR
  </label>
  <input id="puma" type="text" placeholder="E.g. 5.42" name="apr">
  <label for="tiger">
    Number of years
  </label>
  <input id="tiger" type="text" placeholder="How many years to repay" name="years_pay">
  <label for="tiger">
    Principal
  </label>
  <input id="tiger" type="text" placeholder="How much principal" name="principal">
  <button>
  Calculate random number
  </button>
</form>

<% if @result %>
  <p><%= @result %></p>
<% end %>

<a href="/calculation_templates/payment_resluts">
