<form action="/random/new">
  <label for="tiger">
    Minimum
  </label>
  <input id="tiger" type="text" placeholder="E.g. 1.5" name="user_min">

  <label for="tiger">
    Maximum
  </label>
  <input id="tiger" type="text" placeholder="E.g. 4.5" name="user_max">

  <button>
   Pick random number
  </button>
</form>

<a href="/calculation_templates/random_results">
