<form action="/root/results">
  <label for="number">
    Enter a number
  </label>
  <input id="number" type="text" placeholder="What number do you want to square root?" name="number">
  <button>
    Calculate square root
  </button>
</form>
  
<a href="/calculation_templates/root_results">
