<form action="/square/results">
  <label for="zebra">
    Enter a number
  </label>
  <input id="zebra" type="text" placeholder="What number do you want to square?" name="number">
  <button>
    Calculate square
  </button>
</form>

<a href="/calculation_templates/square_results">
